@import url(_quanty-text/intro__list_quantity-text.css);

.intro__list {
  list-style-type: none;
  padding: 0;
  margin:0;
  padding-top: 32px;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
}
