@import url(__title/intro__title.css);
@import url(__text/intro__text.css);
@import url(__list/intro__list.css);

.intro {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px)
{
  .intro {
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 0;
  }
}


@media screen and (min-width: 1024px)
{
  .intro {
    max-width: 690px;
    padding-left: 0px;
    padding-right: calc(928px - 690px);
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1280px)
{
  .intro {
    padding-right: calc(984px - 690px);
  }
}

