@import url(__title/cover__title.css);
@import url(__subtitle/cover__subtitle.css);
@import url(__overlay/cover__overlay.css);
@import url(__background/cover__background.css);

.cover {

  margin-left:  auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  position: relative;
  top:0;
  left: 0;
}


@media screen and (min-width:1024px) {
  .cover {
    left: calc((100vw - 100%) / -2);
  }
}

@media screen and (min-width:1280px) {
  .cover {
    width: 1184px;
    left: 0;
  }
}



