.cover__overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42,44,47, .3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: inherit;
  text-decoration: inherit;
  transition: background-color .4s ease-in-out;
}

.cover__overlay:hover {
  background-color: rgba(42,44,47, .8);
}
