@import url(../vendor/normalize.css);
@import url(../blocks/link-breathing/link-breathing.css);
@import url(../blocks/mian/main.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/cover/cover.css);

@import url(../blocks/footer/footer.css);

@font-face {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style:  normal;
  font-display: swap;
  src:
    local('Inter'),
    url(../fonts/Inter-Black.woff2) format('woff2'),
    url(../fonts/Inter-Black.woff) format('woff');

}

@font-face {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-style:  normal;
  font-display: swap;
  src:
    local('Inter'),
    url(../fonts/Inter-Bold.woff2) format('woff2'),
    url(../fonts/Inter-Bold.woff) format('woff');
}

@font-face {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-style:  normal;
  font-display: swap;
  src:
    local('Inter'),
    url(../fonts/Inter-Regular.woff) format('woff2'),
    url(../fonts/Inter-Regular.woff) format('woff');
}
