/* TODO FIXME : Maybe 100% ? */

.page__section.page__section_lead {
  width: 320px;
}

@media screen and (min-width: 768px) {
  .page__section.page__section_lead {
    width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .page__section.page__section_lead {
    width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .page__section.page__section_lead {
    width: 984px;
  }
}

